html,body{
    width: 100%;
    height: 100%;
}
.huuy{
    width: 100%;
    height: 100%;
    margin: auto;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    min-height: 100%;
    position: relative;  
}
#poupInfoBox{
    position: absolute;
    width: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    padding: .5rem 0;
    color: #fff;
    z-index: 10;
    background: rgba(0,0,0,0.8);
}
#poupInfoBox .poupHead{
    position: relative;
    height: 2.25rem;
    border-bottom: 1px solid rgba(255,255,255,.6);
    padding: .2rem 0 0;
    margin: 0 .5rem;
}
.poupTitleBox{
    float: left;
    width: 13.25rem;
}
#poupInfoBox .poupTitleBox .poupTitleMune{
    float: left;
    line-height: .65rem;
    padding: .8rem 0;
    text-align: center;
    cursor: pointer;
}
.poupTitleBox .poupTitleMune:first-child .item{
        border-left: none;
}
.homeBtnBox .redDot, #Award_Round_Dot{
    width: 10px;
    height: 10px;
    position: absolute;
    border-radius: 20px;
    background-color: #f00;
    top: -8px;
    -webkit-animation: redDotTada .6s ease infinite;
    animation: redDotTada .6s ease infinite;
}
.poupTitleBox .poupTitleMune .item{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-left: solid 1px rgba(255,255,255,.3);
    position: relative;
    font-size: .65rem;
}
#poupInfoBox .poupClose{
    position: absolute;
    right: 0;
    width: 2.25rem;
    height: 2.25rem;
    background: url(../../static/img/close.png) no-repeat;
    background-size: 70%;
    background-position: center;   
}
.homeBtnBox .redDot,#Award_Round_Dot {
    width: 10px;
    height: 10px;
    position: absolute;
    border-radius: 20px;
    background-color: #f00;
    top: -8px;
    -webkit-animation: redDotTada .6s ease infinite;
    animation: redDotTada .6s ease infinite
}

@-webkit-keyframes redDotTada {
    0% {
        -webkit-transform: scale3d(1,1,1)
    }

    10%,20% {
        -webkit-transform: scale3d(.9,.9,.9)
    }

    30%,50%,70%,90% {
        -webkit-transform: scale3d(1.3,1.3,1.3)
    }

    40%,60%,80% {
        -webkit-transform: scale3d(1.3,1.3,1.3)
    }

    100% {
        -webkit-transform: scale3d(1,1,1)
    }
}
#poupInfoBox .poupSlideBar {
    position: absolute;
    left: 0;
    width: 13.25rem;
    bottom: 0;
}
#poupInfoBox .slideBarTip::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    border-left: .4rem solid transparent;
    border-right: .4rem solid transparent;
    border-bottom: .45rem solid #fff;
    width: 0;
    right: 0;
    margin: auto
}
#poupInfoBox .slideBarTip {
    height: 3px;
    max-width: 3.2rem;
    background: #fff;
}
#poupInfoBox .transitionPanel {
    position: absolute;
}
#poupInfoBox .poupMain {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0 10px;
    position: relative;
    display: none;
    height: 400px
}
#poupInfoBox .poupMain .poupMainInfo {
    height: 500px;
/*    overflow-y: auto;*/
}
#informLine {
    width: 100%;
    position: relative;
}
.poupLine {
    font-size: .6rem;
    line-height: .9rem;
    padding: 2px 0;
    margin-top: .7rem;
    position: relative;
}
.poupLine {
    font-size: .6rem;
    line-height: .9rem;
    padding: 2px 0;
    margin-top: .7rem;
    position: relative;
}
.defBgColor {
    background-color: rgba(0,0,0,0);
}
.mainTitle {
    font-size: .6rem;
    line-height: 1.2rem;
    background: #fff;
    color: #000;
    display: inline-block;
    padding: 0 8px;
    margin-bottom: .55rem;
}
.poupLine a {
    color: #fff000;
}
#rankBox .rankTable {
    width: 100%;
    margin-top: .55rem;
    text-align: center;
    table-layout: fixed;
    font-size: .7rem;
    color: #FFF;
}
#rankBox .rankTable {
    width: 100%;
    margin-top: .55rem;
    text-align: center;
    table-layout: fixed;
    font-size: .7rem;
    color: #FFF;
}
#rankBox .rankInfo {
    line-height: 2.75rem;
}
#rankBox .rankTable td {
    border-bottom: 1px solid rgba(255,255,255,.4);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#rankBox .rankTable .manImg {
    background: url(../../static/img/manImg.jpg) no-repeat;
    background-size: 100%;
}
#rankBox .rankTable .userImg {
    width: 2rem;
    height: 2rem;
    margin: 0 auto;
    border-radius: 999px;
}
#awardBox{
    width: 16rem!important;

}
#awardInfoBox{
    height: 450px;
}
#awardInfo{
    font-size: 12px;
}
#awardBox #awardInfoBox #awardInfo .codeInfoBox:last-child {
    margin-bottom: 1.3rem;
}
#awardBox #awardInfoBox #awardInfo .codeInfoBox:first-child {
    margin-top: .85rem;
}
.codeInfoBox {
    width: 13.3rem;
    height: 4.5rem;
    border: .1rem solid #fff;
    border-radius: .2rem;
    margin: 1.05rem auto 0;
    position: relative;
    padding-top: .8rem;
}
.goDetailIcon {
    width: .875rem;
    height: 1.75rem;
    background: url(../../static/img/kqjt.png) no-repeat;
    background-size: 100%;
    position: absolute;
    top: 1rem;
    right: .5rem;
}
.codeInfoBox .djqImgBox {
    width: 1.75rem;
    height: 1.625rem;
    background: url(../../static/img/djq.png) no-repeat;
    background-size: 100%;
    position: absolute;
    top: -2px;
}
#awardDetailBox {
    position: fixed;
    z-index: 12;
    font-size: .7rem;
    color: #fff;
    background-color: #f0eff4;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    width: 100%;
}
#awardDetailBox.isAngular .awardDetail {
    width: 100%;
    background-color: #35a4de;
    text-align: center;
    position: relative;
    padding-bottom: 1.2rem;
}
.hostName {
    color: #fff000;
    text-decoration: none;
}
#awardDetailBox .awardDetail .awardName {
    font-size: 1.25rem;
    word-break: break-word;
}
.defBgColor {
    background-color: rgba(0,0,0,0);
}
#awardDetailBox .awardDetail .awardSubTitle {
    font-size: .6rem;
    line-height: 1rem;
}
#awardDetailBox .awardDetail .awardCodeTime, #awardDetailBox .awardDetail .codeTimeFixedTerm {
    font-size: .55rem;
    line-height: 1rem;
}
#awardDetailBox .awardDetail .awardCodeTime, #awardDetailBox .awardDetail .codeTimeFixedTerm {
    font-size: .55rem;
    line-height: 1rem;
}
#awardDetailBox .awardDetail .awardDetailWarp {
    height: 4px;
    width: 100%;
    background: url(/image/kqbd.png);
    position: absolute;
    bottom: 0;
}
.codeImgBox {
    text-align: center;
    color: #666;
    background-color: #fff;
    padding-bottom: .5rem;
}
#awardDetailBox {
    position: absolute;
    z-index: 2000;
    font-size: .7rem;
    color: #fff;
    background-color: #f0eff4;
    overflow-y: auto;
    overflow-x:hidden;
    min-height: 100%;
    -webkit-overflow-scrolling: touch;
}
#codeDetailInfoBox {
    padding-top: .2rem;
    position: relative;
}
#awardDetailBox .awardDetail .awardName {
    font-size: 1.25rem;
    word-break: break-word;
}
.isAngular .codeImgBox .copy {
    display: inline-block;
    width: 3rem;
    height: 1rem;
    line-height: 1rem;
    border-radius: .2rem;
    background-color: #35a4de;
    margin-left: .3rem;
    color: #fff;
    cursor: pointer;
}
.isAngular .awardBtnList {
    position: relative;
}
.isAngular #ticketDetailBox {
    background: #fff;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: .6rem .65rem;
    color: #000;
    z-index: 5000;
}
.awardCloseIcon {
    width: 2.25rem;
    height: 2.25rem;
    background: url(../../static/img/close.png) no-repeat;
    background-size: 70%;
    background-position: center;
    position: absolute;
    right: .25rem;
    top: .25rem;
    z-index: 202;
}
#awardDetailBox .awardDetail .awardDetailWarp {
    height: 4px;
    width: 100%;
    background: url(../../static/img/kqbd.png);
    position: absolute;
    bottom: 0;
}
.isAngular #ticketDetailBox .ticketitle {
    font-size: .7rem;
    padding-bottom: .5rem;
    border-bottom: solid .05rem #d5d5d5;
    line-height: .7rem;
    position: relative;
}
.isAngular #ticketDetailBox .itemList {
    font-size: .6rem;
    padding: .3rem 0;
}
#ticketDetailBox .itemList .title {
    float: left;
    color: #666;
}
#ticketDetailBox .itemList .box {
    width: auto;
    margin-left: 3.52rem;
}
.codeImgBox .codeLine {
    margin-bottom: .1rem;
    padding-top: .4rem;
    color: #333;
}
.ticketitle span{
    font-size: 0.6rem
}
.title{
    font-size: 12px
}
.box{
    font-size: 12px;
    line-height: 16px
}
#ticketDetailBox .itemList .box {
    width: auto;
    margin-left: 3.52rem;
}
#ticketDetailBox .itemList .box div {
    width: 100%;
}
#awardDetailBox .awardDetailBtn {
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    height: 1.75rem;
    color: #333;
    line-height: 1.75rem;
    padding-left: .6rem;
    background-color: #fff;
    font-size: .7rem;
}
#awardDetailBox .servicePhone .phoneIcon {
    float: right;
    width: 1.75rem;
    height: 1.75rem;
    background: url(../../static/img/hpoc.png) no-repeat;
    background-size: 100%;
}
#awardDetailBox .servicePhone .phoneText {
    float: right;
}
.phoneIcon{
    animation: shake-crazy 2s infinite;
}
@keyframes shake-crazy {
    0% {
        transform: rotate(-30deg);
    }
    50% {
        transform:  rotate(20deg);
    }
    100% {
        transform: rotate(-30deg);
    }
}
.attentionBox {
    width: 100%;
    text-align: center;
    font-size: .7rem;
    position: absolute;
    bottom: .3rem;
    left: 0rem;
    z-index: 20
}
.menuBtnBox .menuName, .giftBtnBox .buttonContent {
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.attentionBox a {
    position: relative;
}
.attentionBox a {
    color: #fff;
    text-decoration: none;
    line-height: 1.9rem;
}
.attentionBox * {
    margin-left: auto;
    margin-right: auto;
}
.attentionBox .menuBtnBox{
    width: 10rem;
    height: 2rem;
    line-height: 2rem!important;
    background: #41bd43;
    border-radius: .2rem;
    margin-bottom: .5rem;
}
.masklayer{
    position: absolute;
    z-index: 21;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    left: 0;
    top:0;
    display: none;
}
.downloadjpg {
    width: 10rem;
    height: 20rem;
    display: block;
    background-repeat: no-repeat;
    margin: 0 auto;
    text-align: center;
    margin-top: 1.5rem;
}
.maskClose{
    position: absolute;
    right: .5rem;
    top: .75rem;
    width: 2.25rem;
    height: 2.25rem;
    background: url(../../static/img/close.png) no-repeat;
    background-size: 70%;
    background-position: center;   
}